<!DOCTYPE html>
<html>
    <head>
        <title>Drink-O-Matic</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/drinkomatic.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="/javascript/drinkomatic.js" type="text/javascript"></script>
	</head>

    <body bgcolor="black">
		<div id="main-div" style="background-color:black">
			<img id="title_image" style="margin:0px auto;display:block" src="images/drinkomatic.png" alt="DRINK-O-MATIC"/>
			<div id='ing-menu-div' class='ing-menu'>
				<div id='liquor-list' class="menu-div">
					<div class='menu-item-header'><h2>Alcohols</h2></div>
					{% for liquor in liquors %}
						<div class="menu-item">{{liquor.name}}</div>
					{% endfor %}
				</div>	
				<div id='mixer-list' class="menu-div">
					<div class='menu-item-header'><h2>Mixers</h2></div>
					{% for mixer in mixers %}
						<div class="menu-item">{{mixer.name}}</div>
					{% endfor %}
				</div>
			</div>
			<div id="recipes"></div>
		</div>
    </body>
</html>
