<!DOCTYPE html>
<html>
    <head>
        <title>Drink-O-Matic</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/drinkomatic.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="/javascript/drinkomatic.js" type="text/javascript"></script>
	</head>

    <body bgcolor="black">
		<div id="main-div" style="background-color:black">
			<img id="title-image" src="images/drinkomatic.png" alt="DRINK-O-MATIC"/>
			<div id="options-bar">
				<div id="signin" class="options-bar-item">Sign In</div>				
				<div id="change-view" class="options-bar-item">Menu</div>
			</div>
			<div class="hide" id="canvas-wrap">
				<canvas></canvas>
				<div id="overlay">
					<div id="selected-liquors"></div>
					<div id="cocktails-div"></div>
					<div id="selected-mixers"></div>
				</div>
			</div>
			
			<div id='ing-menu-div' class='ing-menu show'>
				<div id='liquor-list' class="menu-div">
					<div class='menu-item-header'><h2>Alcohols</h2></div>
					{% for liquor in liquors %}
						<div class="menu-item">{{liquor.name}}</div>
					{% endfor %}
				</div>	
				<div id='mixer-list' class="menu-div">
					<div class='menu-item-header'><h2>Mixers</h2></div>
					{% for mixer in mixers %}
						<div class="menu-item">{{mixer.name}}</div>
					{% endfor %}
				</div>
			</div>
		</div>
    </body>
</html>
