	div{
		font-family:SWRomnd;
		white-space: nowrap;
		cursor:pointer;
		color:white;
	}
	
	#main-div{
	}
	
	#canvas-wrap { 
		position:relative; 
		width:800px; 
	}

	#canvas-wrap canvas { 
		position:absolute;
		top:0;
		left:0;
		z-index:0;
	}
	
	#liquor-list{
		float:left;
		width:50%;
		overflow:hidden;
	}
	#mixer-list{
		float:left;
		width:50%;
		overflow:hidden;
	} 
	
	#change-view{
		clear:both;
		text-align:center;
		width: 50%;
		margin: 0 auto;	
	}
	
	#selected-liquors{
		float:left;
		width:20%;
		text-align:left;
		position:inline-block;
	}
	
	#cocktails-div{
		float:left;
		width:80%;
		text-align:center;
		position:inline-block;
		}
	
	#selected-mixers{
		float:left;
		width:auto;
		text-align:right;
				position:inline-block;
	}
	
	.ing-menu {
		background-color: black;
		color:white;
	}
	
	.menu-item {
		padding-left: 5px;
		padding-right: 5px;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		background-color:black;
		color: white;
		border-style:solid;
		border-width:2px;
		border-color:black;
		float:left;
		font-family:SWRomnd;
		font-size:1.0em;
		font-weight:bold;
	}
	
	.menu-item-select{
		color: orange;
		text-shadow:1px 1px red;		
	}

	.menu-item-header{
		background-color:black;
		color: yellow;
		text-shadow:2px 2px red;
		font-family:SWRomnd;
		text-align:center;
		letter-spacing:20px;
	}
	
	.menu-div{
		Text-align:center;
	}

	.liquor-ing{
		text-align:left;
		color:white;
		z-index:20;		
	}
		
	.mixer-ing{
		text-align:left;
		color:white;
		z-index:20;
	}

	.cocktail{
		color:white;
		text-align:center;
	}
	
	.cocktail-normal{
		font-size:0.8em;
		color:white;
		margin:5px;
		padding:2px 5px;
		z-index:10;
	}
	
	.cocktail-highlight{
		font-size:1em;
		color:white;
		margin:5px;
		padding:2px 5px;
		z-index:11;
	}
	
	.cocktail-nonhighlight{
		font-size:0.8em;
		color:white;
		margin:5px;
		padding:2px 5px;
		opacity:0.3;
		z-index:8;
	}

	.show{
		display:default;
	}
	
	.hide{
		display:none;
	}